@import
	url(http://fonts.googleapis.com/css?family=Open+Sans|Francois+One);
	
html {
	height: 100%;
	position: relative;
}

body {
	color: white;
	background-color: black;
	font-family: 'Open Sans', sans-serif;
	background:#222;
	padding: 0px;
	margin-top: -10px;
	height: 100%;
}

.test {
	position: absolute;
	left: 1000px;
}

#wrapper {
	margin: 0 auto;
	width: 700px;
}
h1 {
	text-align: center;
	font-family: 'Francois One', sans-serif;
	font-size: 2.5em;
	font-weight: normal;
}
#inputfield {
	border-radius: 10px;
	border: none;
	height: 40px;
	padding: 10px;
	color: #e800d5;
	outline: none;
	width: 535px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7em;
	margin-right: 10px;
}
.button {
	width: 135px;
	background-color: #e800d5;
	color: white;
	border: none;
	height: 60px;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Francois One', sans-serif;
	font-size: 1.3em;
	outline: none;
	vertical-align: top;
}
.button:hover {
	cursor: pointer;
	background-color: #cd02bc;
}
#result {
	margin-top: 20px;
	font-size: 60px;
	width: 100%;
	background-color: lightseagreen;
	position: absolute;
	left: 0;
	text-align: center;
	margin-top: 40px;
	opacity: 0;
	-webkit-transition: all 3s ease;
	-moz-transition: all 3s ease;
	-ms-transition: all 3s ease;
	-o-transition: all 3s ease;
	transition: all 3s ease;
}
#result.on {
	opacity: 1;
}